.partitionContainer {
    border-bottom: 1px solid black;
    width: 80%;
    height: 40%;
    min-width: 550px;
}

.gridTable{
    display: grid;
    grid-template-columns: repeat(5,20%);
    padding: 0 20px 0 20px;
}

.header{
    grid-column: 1 / span 5;
    border: 2px solid black;
    padding: 10px;
}

.name, .distributed, .balance, .expenses, .income{
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    text-align: center;
    font-size: 1.1rem;
    padding: 3px;
    width: 100%;
    box-sizing: border-box;
    background-color: aliceblue;
}

.balance{
    border-right: 2px solid black;
}

